/*CSS RESET*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

/*GENERICS*/

img {
    width: 200px;
}


.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    padding: 20px;
}





